app/*.log
app/.awcache
app/.awcache/*
app/dist
app/dist/*
app/src/blockchain/typechain
app/src/blockchain/build
app/src/blockchain/build/*
app/src/blockchain/node_modules
app/src/blockchain/node_modules/*
app/src/server/vendor
app/src/server/tmp
app/src/server/air
app/node_modules
app/node_modules/*
app/build
app/build/*
app/nohup.out
docs/build/*
