app/*.log
app/.awcache
app/.awcache/*
app/dist
app/dist/*
app/blockchain/build
app/blockchain/build/*
app/blockchain/test
app/blockchain/test/*
app/blockchain/node_modules
app/blockchain/node_modules/*
app/node_modules
app/node_modules/*
app/build
app/build/*
app/nohup.out
