{
  "presets": [
  [
    "stage-0",
    "react",
    "env",
    {
      "modules": false,
      "production": {
      },
      "development": {
      },
      "targets":
      {
        "browsers": ["last 2 versions"]
      }
    }
  ]],
  "plugins": [
    "transform-class-properties",
    [
      "import", {
        "libraryName": "antd",
        "style": true
      }
    ]
  ]
}
