{
  "env": {
    "production": {
      "plugins": [
      [
        "emotion",
        {
          "hoist": true,
          "sourceMap": false,
          "autoLabel": true,
          "labelFormat": "[local]",
          "extractStatic": false,
          "outputDir": "",
          "importedNames": {
            "styled": "styled",
            "css": "css",
            "keyframes": "keyframes",
            "injectGlobal": "injectGlobal",
            "merge": "merge"
          }
        }
      ]],
    },
    "development": {
      "plugins": [
        [
          "emotion",
          {
            "hoist": false,
            "sourceMap": true,
            "autoLabel": true,
            "labelFormat": "[local]",
            "extractStatic": false,
            "outputDir": "",
            "importedNames": {
              "styled": "styled",
              "css": "css",
              "keyframes": "keyframes",
              "injectGlobal": "injectGlobal",
              "merge": "merge"
            }
          }
      ]]
    },
    "targets": {
      "browsers": ["last 2 versions"]
    },
    "presets": [
      "stage-0",
      "modules",
      "react"
    ]
  }
}
